.carClass{
	background: lightblue;
}


.newClass {
	border: 4px solid blue;
	background: lightgrey;
	text-align: center;
	font-family: Helvetica;
}
.newBorder{
	border:10px solid red;
}

.oldClass{
	border: 5px solid red;
}

.newBackground{
	background: red;
}